body{
    font-family: Arial;
    background-color: rgb(115, 206, 228);
}

header{
    background-color:rgb(232, 232, 33);
    color: rgb(11, 11, 11);
    text-align: center;
    padding: 15px;
}

nav a{
    color: rgb(11, 11, 11);
    text-decoration: none;
    margin: 15px;
}

.hero{
    text-align: center;
    padding: 30px;
}

button{
    background-color:rgb(243, 117, 117);
    color: rgb(11, 11, 11);
    padding: 8px 15px;
    border: none;
}

.products{
    text-align: center;
}

.card{
    display: inline-block;
    background-color:white;
    border: 1px solid: rgb(11, 11, 11);
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.card img{
    width: 150px;
    height: 150px;
}

footer{
    background-color: rgb(233, 233, 235);
    color: rgb(11, 11, 11);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
